@{
    string currentController = ViewBag.CurrentController as string ?? "";
    string currentAction = ViewBag.CurrentAction as string ?? "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description"
          content="Responsive HTML Admin Dashboard Template based on Bootstrap 5" />
    <meta name="author" content="NobleUI" />
    <meta name="keywords"
          content="nobleui, bootstrap, bootstrap 5, bootstrap5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web" />

    <title>Sea Breeze Admin </title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet"
          href="~/Admin/assets/vendors/flatpickr/flatpickr.min.css" />
    <link rel="stylesheet"
          href="~/Admin/assets/fonts/feather-font/css/iconfont.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="~/Admin/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/Admin/assets/css/demo1/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<style>
    .form {
        position: relative;
    }

        .form .fa-search {
            position: absolute;
            top: 20px;
            left: 20px;
            color: #b8bbc0;
            font-size: 13px;
        }

        .form span {
            position: absolute;
            right: 17px;
            top: 13px;
            padding: 2px;
            border-left: 1px solid #d1d5db;
        }

    .form-input {
        height: 55px;
        text-indent: 33px;
        border-radius: 10px;
    }

        .form-input:focus {
            box-shadow: none;
            border: none;
        }

    .link-elements.active-link {
        background: #4890b2;
        border-radius: 10px;
        color: white;
        text-decoration: none;
        padding: 0.5rem;
    }

    .link-elements {
        border-radius: 10px;
        padding: 0.5rem;
        color: gray;
    }

        .link-elements.active-link .link-titlee svg {
            fill: white;
        }
</style>

<body>

    <div class="main-wrapper">
        <nav class="sidebar">
            <div class="sidebar-header">
                <a asp-action="Index" asp-controller="Dashboard" class="sidebar-brand">
                    LOGO
                </a>
            </div>
            <div class="sidebar-body">
                <div class="nav" style="padding: 70px 15px 50px 25px">
                    <a style=" text-decoration:none;" class="link-elements @(currentController == "Dashboard" && currentAction == "Index" ? "active-link" : "")" asp-action="Index" asp-controller="Dashboard">
                        <span class="link-titlee">
                            <svg width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_239_2777)">
                                    <path d="M1.74994 0.5H9.24994C9.93898 0.5 10.5001 1.06115 10.5001 1.74994V6.24994C10.5001 6.93895 9.93895 7.50006 9.24994 7.50006H1.74994C1.06115 7.50006 0.5 6.93898 0.5 6.24994V1.74994C0.5 1.06112 1.06112 0.5 1.74994 0.5Z"
                                          stroke="#8F9297" />
                                    <path d="M1.74994 10.4999H9.24994C9.93895 10.4999 10.5001 11.0611 10.5001 11.7501V22.2501C10.5001 22.9389 9.93898 23.5 9.24994 23.5H1.74994C1.06112 23.5 0.5 22.9389 0.5 22.2501V11.7501C0.5 11.061 1.06115 10.4999 1.74994 10.4999Z"
                                          stroke="#8F9297" />
                                    <path d="M14.7501 16.4999H22.2501C22.9389 16.4999 23.5001 17.061 23.5001 17.7501V22.2501C23.5001 22.9389 22.9389 23.5 22.2501 23.5H14.7501C14.0611 23.5 13.5 22.9389 13.5 22.2501V17.7501C13.5 17.0611 14.0611 16.4999 14.7501 16.4999Z"
                                          stroke="#8F9297" />
                                    <path d="M14.7501 0.5H22.2501C22.9389 0.5 23.5001 1.06112 23.5001 1.74994V12.2499C23.5001 12.939 22.9389 13.5001 22.2501 13.5001H14.7501C14.0611 13.5001 13.5 12.9389 13.5 12.2499V1.74994C13.5 1.06115 14.0611 0.5 14.7501 0.5Z"
                                          stroke="#8F9297" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_239_2777">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Dashboard
                        </span>
                    </a>
                    <a style=" text-decoration:none;" class="link-elements @(currentController == "Payment" && currentAction == "Index" ? "active-link" : "")" asp-action="Index" asp-controller="Payment">


                        <span class="link-titlee">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.3636 19.6364H18.5454C16.1394 19.6364 14.1819 17.6789 14.1819 15.2728C14.1819 12.8668 16.1394 10.9093 18.5454 10.9093H22.3636C22.665 10.9093 22.909 10.6653 22.909 10.3638V8.7275C22.909 7.5837 22.0218 6.6535 20.9009 6.56329L17.7683 1.09179C17.478 0.585754 17.0093 0.224073 16.4483 0.0738875C15.8901 -0.0752748 15.3063 0.00306481 14.8067 0.293873L4.06808 6.5457H2.18204C0.978774 6.5457 0.000244141 7.52418 0.000244141 8.7275V21.8182C0.000244141 23.0215 0.978722 24 2.18204 24H20.7272C21.9305 24 22.909 23.0215 22.909 21.8182V20.1819C22.909 19.8804 22.665 19.6364 22.3636 19.6364ZM18.4448 4.4698L19.6333 6.5457H14.8791L18.4448 4.4698ZM6.23622 6.5457L15.3558 1.23666C15.6025 1.0923 15.8906 1.05395 16.166 1.12748C16.4446 1.20204 16.6769 1.38209 16.8212 1.63403L16.8224 1.63603L8.38959 6.5457H6.23622Z" />
                                <path d="M22.3635 12.0002H18.5454C16.7407 12.0002 15.2727 13.4682 15.2727 15.2728C15.2727 17.0775 16.7407 18.5455 18.5454 18.5455H22.3635C23.2659 18.5455 23.9999 17.8115 23.9999 16.9092V13.6365C23.9999 12.7342 23.2659 12.0002 22.3635 12.0002ZM18.5454 16.3637C17.944 16.3637 17.4545 15.8742 17.4545 15.2728C17.4545 14.6715 17.944 14.182 18.5454 14.182C19.1467 14.182 19.6363 14.6715 19.6363 15.2728C19.6363 15.8742 19.1468 16.3637 18.5454 16.3637Z" />
                            </svg>


                            Career
                        </span>
                    </a>
                    <a style=" text-decoration:none;" class="link-elements @(currentController == "Contact" && currentAction == "Index" ? "active-link" : "")" asp-action="Index" asp-controller="Contact">
                        <span class="link-titlee">
                            <svg width="24"
                                 height="25"
                                 viewBox="0 0 24 25"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.01" width="24" height="24" />
                                <path d="M17.2014 13.2464L11.2974 10.9755C10.1878 10.5489 9.37565 9.48342 9.37565 8.13693C9.39627 6.68859 10.5695 5.50649 11.9911 5.50133C13.4971 5.50133 14.6248 6.71953 14.6248 8.12615C14.6248 9.35326 15.618 10.3839 16.8944 10.376C18.1332 10.3652 19.1334 9.33216 19.1245 8.07272C19.1105 6.18988 18.3694 4.41953 17.0378 3.08837C14.2545 0.304141 9.74598 0.303672 6.96222 3.08837C5.61653 4.43359 4.87549 6.22269 4.87549 8.12615V22.7502C4.87549 23.9909 5.88464 25 7.12533 25H16.8747C18.1154 25 19.1245 23.9909 19.1245 22.7502V16.0461C19.1245 14.8138 18.3516 13.6884 17.2014 13.2464ZM15.3279 22.0002H8.62523C8.21089 22.0002 7.87528 21.6646 7.87528 21.2503C7.87528 20.8359 8.21089 20.5003 8.62523 20.5003H15.3279C15.7422 20.5003 16.0778 20.8359 16.0778 21.2503C16.0778 21.6646 15.7422 22.0002 15.3279 22.0002ZM15.3279 19.0004H8.62523C8.21089 19.0004 7.87528 18.6648 7.87528 18.2505C7.87528 17.8361 8.21089 17.5005 8.62523 17.5005H15.3279C15.7422 17.5005 16.0778 17.8361 16.0778 18.2505C16.0778 18.6648 15.7422 19.0004 15.3279 19.0004Z" />
                            </svg>

                           Contact
                        </span>
                    </a>
                 
                    <a style=" text-decoration:none;" class="link-elements @(currentController == "AdminPanel" && currentAction == "Index" ? "active-link" : "")" asp-action="Index" asp-controller="AdminPanel">
                        <span class="link-titlee">
                            <svg width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.5776 12.8527L20.5486 13.1282L20.7668 13.2989L22.97 15.0216C22.9704 15.022 22.9708 15.0223 22.9712 15.0226C23.1857 15.1939 23.2511 15.4975 23.1125 15.7557L20.8118 19.74L20.8117 19.7399L20.8058 19.7506C20.715 19.9172 20.528 20.032 20.3198 20.032C20.2487 20.032 20.1797 20.0192 20.1111 19.9928C20.1104 19.9925 20.1097 19.9922 20.109 19.992L17.5041 18.946L17.2503 18.8441L17.0276 19.0028C16.5292 19.358 16.0432 19.6402 15.5517 19.8624L15.3018 19.9755L15.2628 20.2471L14.8659 23.0171L14.8658 23.0171L14.8646 23.0265C14.8329 23.2819 14.5988 23.5 14.3018 23.5H9.70182C9.40712 23.5 9.17122 23.2852 9.13806 23.0167L9.13815 23.0167L9.13676 23.007L8.74076 20.247L8.70175 19.9751L8.45138 19.8622C7.94214 19.6326 7.44814 19.3457 6.97621 19.0054L6.75295 18.8445L6.49754 18.947L3.90232 19.9889C3.59175 20.1 3.31993 19.9716 3.19227 19.7387L3.19238 19.7386L3.18671 19.7288L0.89614 15.7658C0.750027 15.4934 0.820661 15.191 1.0293 15.0247C1.02967 15.0245 1.03003 15.0242 1.0304 15.0239L3.23575 13.3L3.45362 13.1297L3.42516 12.8546C3.39153 12.5295 3.37583 12.2541 3.37583 12C3.37583 11.7459 3.39149 11.4705 3.42514 11.1467L3.45373 10.8716L3.23581 10.7012L1.03235 8.97814C1.03199 8.97786 1.03163 8.97757 1.03127 8.97728C0.807357 8.79898 0.749791 8.48021 0.892139 8.23962L0.892162 8.23963L0.894707 8.23523L3.19168 4.26121L3.19181 4.26129L3.19785 4.25021C3.31706 4.03141 3.63223 3.9082 3.89306 4.00743L6.49953 5.05399L6.75318 5.15584L6.97584 4.9973C7.47359 4.6429 7.96038 4.35996 8.45116 4.13891L8.7018 4.02602L8.74078 3.75392L9.13776 0.982908L9.13785 0.98292L9.13901 0.973574C9.17079 0.717467 9.40448 0.5 9.70083 0.5H14.3008C14.5953 0.5 14.8316 0.715687 14.8646 0.98158L14.8645 0.981591L14.8659 0.991003L15.2619 3.75199L15.3009 4.02436L15.5519 4.1371C16.0606 4.36559 16.5544 4.65232 17.0273 4.99347L17.2506 5.15457L17.5061 5.05199L20.1017 4.00999C20.4084 3.89972 20.6841 4.0277 20.8111 4.25992L20.811 4.25999L20.8169 4.2702L23.1074 8.23308C23.2536 8.50646 23.182 8.80871 22.9737 8.97401C22.9734 8.97425 22.9731 8.97449 22.9728 8.97473L20.7669 10.6991L20.5476 10.8705L20.5778 11.1471C20.6053 11.4004 20.6268 11.6926 20.6268 11.999C20.6268 12.3045 20.6045 12.5968 20.5776 12.8527ZM7.50082 12C7.50082 14.4821 9.51867 16.5 12.0008 16.5C14.4829 16.5 16.5008 14.4821 16.5008 12C16.5008 9.51787 14.4829 7.50002 12.0008 7.50002C9.51867 7.50002 7.50082 9.51787 7.50082 12Z"
                                      stroke="#8F9297" />
                            </svg>
                            Admin Panel
                        </span>
                    </a>
                    <a style=" text-decoration:none;" class="link-elements @(currentController == "Account" && currentAction == "ResidentList" ? "active-link" : "")" asp-action="ResidentList" asp-controller="Account">
                        <span class="link-titlee">
                            <svg width="24"
                                 height="22"
                                 viewBox="0 0 24 22"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.4648 20.6792C19.4696 20.6155 19.472 20.5512 19.472 20.4863V13.4715C19.472 13.0737 19.4283 12.6856 19.3453 12.3119H20.5355C22.1697 12.3119 23.5 13.6422 23.5 15.2764V15.2764V19.1005C23.5 19.9706 22.7914 20.6792 21.9213 20.6792H19.4648Z"
                                      stroke="#8F9297" />
                                <path d="M4.65472 12.312C4.57179 12.6857 4.52806 13.0737 4.52806 13.4715V20.4864C4.52806 20.5513 4.53049 20.6156 4.53527 20.6793H2.07872C1.20864 20.6793 0.5 19.9707 0.5 19.1006V15.2765C0.5 13.6423 1.83033 12.312 3.46454 12.312H4.65472Z"
                                      stroke="#8F9297" />
                                <path d="M9.87836 10.507H14.1216C15.7558 10.507 17.0861 11.8373 17.0861 13.4715V20.4864C17.0861 20.5929 16.9998 20.6793 16.8932 20.6793H7.10673C7.0002 20.6793 6.91382 20.5929 6.91382 20.4864V13.4715C6.91382 11.8373 8.24415 10.507 9.87836 10.507Z"
                                      stroke="#8F9297" />
                                <path d="M8.3335 4.9872C8.3335 2.96585 9.97874 1.32062 12 1.32062C14.0213 1.32062 15.6666 2.9659 15.6666 4.9872C15.6666 6.35704 14.9109 7.55545 13.7911 8.18537C13.2612 8.48344 12.6507 8.65374 12 8.65374C11.3493 8.65374 10.7389 8.48344 10.209 8.18536C9.0892 7.55544 8.3335 6.35707 8.3335 4.9872Z"
                                      stroke="#8F9297" />
                                <path d="M6.99247 9.0483L6.99247 9.04829C7.18834 8.68185 7.29967 8.26431 7.29967 7.82021C7.29967 6.37819 6.12571 5.20419 4.68365 5.20419C3.24158 5.20419 2.06763 6.37815 2.06763 7.82021C2.06763 9.26228 3.24158 10.4362 4.68365 10.4362C5.04981 10.4362 5.39769 10.3605 5.71382 10.2244L6.99247 9.0483ZM6.99247 9.0483C6.71297 9.57124 6.26097 9.98885 5.71386 10.2244L6.99247 9.0483Z"
                                      stroke="#8F9297" />
                                <path d="M17.0077 9.04832L17.0076 9.04827C16.8118 8.6819 16.7004 8.26436 16.7004 7.82021C16.7004 6.37815 17.8744 5.20419 19.3165 5.20419C20.7585 5.20419 21.9325 6.37815 21.9325 7.82021C21.9325 9.26228 20.7585 10.4362 19.3165 10.4362C18.9503 10.4362 18.6024 10.3605 18.2863 10.2244C17.7392 9.98891 17.2872 9.57131 17.0077 9.04832Z"
                                      stroke="#8F9297" />
                            </svg>

                            Account Profile
                        </span>
                    </a>
                    @*   <a href="#" class="nav-link" style="padding: 1.5rem 0.4rem">
                    <span class="link-titlee">
                    <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.01" width="24" height="24"/>
                    <g clip-path="url(#clip0_224_1501)">
                    <path
                    d="M16.8684 5.36841C16.8684 8.05715 14.6887 10.2368 12 10.2368C9.31125 10.2368 7.13159 8.05715 7.13159 5.36841C7.13159 2.67966 9.31125 0.5 12 0.5C14.6887 0.5 16.8684 2.67966 16.8684 5.36841Z"
                    stroke="#8F9297"/>
                    <path
                    d="M3.02637 21.4737C3.02637 16.5177 7.04404 12.5 12 12.5C16.956 12.5 20.9737 16.5177 20.9738 21.4737C20.9738 22.5928 20.0665 23.5 18.9474 23.5H5.0527C3.9336 23.5 3.02637 22.5928 3.02637 21.4737Z"
                    stroke="#8F9297"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_224_1501">
                    <rect width="24" height="24" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>

                    Profile
                    </span
                    >
                    </a>*@
                </div>
                <div>
                    <div class="sidebar-logout" style="position: absolute; bottom: 2rem;">
                        <a style=" text-decoration:none;" class="text-muted mb-1 mb-md-0 log-out" asp-action="Logout" asp-controller="Account" asp-area="Admin">
                            <svg width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_239_2266)">
                                    <path d="M11.9602 21.9668H2.99002C2.43984 21.9668 1.99336 21.5203 1.99336 20.9702V3.02992C1.99336 2.47975 2.43989 2.03326 2.99002 2.03326H11.9602C12.5113 2.03326 12.9568 1.58776 12.9568 1.03661C12.9568 0.48545 12.5113 0.039856 11.9602 0.039856H2.99002C1.34152 0.039856 0 1.38142 0 3.02992V20.9701C0 22.6186 1.34152 23.9601 2.99002 23.9601H11.9602C12.5113 23.9601 12.9568 23.5146 12.9568 22.9635C12.9568 22.4123 12.5113 21.9668 11.9602 21.9668Z"
                                          fill="#FF7070" />
                                    <path d="M23.703 11.2904L17.6432 5.31028C17.2525 4.92356 16.6206 4.92858 16.2339 5.32027C15.8472 5.71196 15.8512 6.34285 16.2439 6.72956L20.5744 11.0033H8.97011C8.41895 11.0033 7.97345 11.4488 7.97345 12C7.97345 12.5511 8.41895 12.9967 8.97011 12.9967H20.5744L16.2439 17.2704C15.8512 17.6571 15.8482 18.288 16.2339 18.6797C16.4292 18.877 16.6864 18.9767 16.9435 18.9767C17.1967 18.9767 17.4498 18.881 17.6432 18.6896L23.703 12.7095C23.8924 12.5222 24 12.267 24 11.9999C24 11.7329 23.8934 11.4788 23.703 11.2904Z"
                                          fill="#FF7070" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_239_2266">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            Log out
                        </a>
                    </div>

                </div>

            </div>

        </nav>
        <div class="page-wrapper">

            @RenderBody()
            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
            </footer>
        </div>
    </div>


    <style>
        .nav-link {
            border-radius: 10px;
            color: gray;
            height: 56px;
            left: 24px;
            top: 134px;
            border: none;
            width: 13rem;
            background: white;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #8f9297;
            letter-spacing: 0.5px;
        }

        .link-title {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }



        .nav-link.active .link-title {
            color: white;
        }


        .nav-linkk {
            color: black;
            text-decoration: none;
        }


        .link-titlee svg {
            fill: gray;
        }


        .svg-class {
            margin-top: 1rem;
        }

        .time-calendar {
            font-style: normal;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #8995AD;
            margin-top: 0.5rem;
            font-weight: 100;
        }

        .person-number {
            margin-right: 1rem;
        }

        .timeline-price {
            font-weight: 900;
            font-size: 14px;
            line-height: 21px;
            color: #15192C;
        }

        .timeline-title {
            font-weight: 900;
            font-size: 20px !important;
            line-height: 21px;
            color: black;
        }

        .flex-timline-items {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: center;
        }

        .log-out {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: black !important;
        }

            .log-out svg {
                margin-right: 0.5rem;
            }

        .sidebar-logout {
            margin-left: 2rem;
            margin-top: 2rem;
        }

        .nav-item.active .link-titlee svg {
            fill: white;
        }


        .flex-menu-admin {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        .left-right-admin {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }


            .left-right-admin a {
                text-decoration: none;
                color: black;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                background: #FFFFFF;
                border: 3px solid #EAECEF;
                border-radius: 4px;
                padding: 0.8rem;
            }

                .left-right-admin a:hover {
                    border: 3px solid #00BFFF;
                }

        #language-select {
            font-size: 14px;
            border: none; /* Remove the default border */
            outline: none; /* Remove the outline when the select is focused */
            appearance: none; /* Remove default appearance to allow custom styling */
            width: 52px;
            user-select: none;
            font-weight: 600;
        }

            #language-select option:focus {
                outline: none; /* Remove outline when option is focused */
                border: none; /* Remove border when option is focused */
            }

        .admin-funzilla-flex {
            display: grid;
            grid-template-columns: 15fr 10fr;
            gap: 1rem;
        }

        .left-right-funzilla {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .fz-detail-text {
            border: 3px solid #F0F0F0;
            padding: 0.8rem;
            border-radius: 4px;
        }

            .fz-detail-text span {
                font-style: normal;
                font-weight: 200;
                font-size: 17px;
                line-height: 21px;
                color: #7A7070;
                word-spacing: 1px;
                font-family: 'Poppins';
                letter-spacing: -0.1px;
            }

            .fz-detail-text:hover {
                border: 3px solid #00BFFF;
            }

        .title-admin {
            font-weight: 600;
        }

        .admin-images-flex {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

        .image-title {
            margin-bottom: 1rem;
        }

            .image-title h3 {
                font-size: 1.3rem !important;
                font-weight: 600;
            }

        .editimage img {
            border-radius: 4px;
            width: 17rem;
        }

        .editimage svg {
            border-radius: 4px;
            width: 17rem;
        }

        .imageadmin {
            position: relative;
            z-index: 3;
        }


        .image-upload > input {
            display: none;
        }

        .image-upload svg {
            cursor: pointer;
        }

        .image-upload {
            position: absolute;
            top: 43%;
            z-index: 4;
            transform: translate(88px, 0px);
        }

        .flex-label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .addimage {
            filter: grayscale(100%);
        }

        .addEnter {
            background: #09985C;
            border: 1px solid #09985C;
            border-radius: 4px;
            border: none;
            outline: none;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            cursor: pointer;
            width: 150px;
            height: 38px;
            text-align: center;
            align-items: center;
            margin-top: 1rem;
        }

            .addEnter a {
                color: white;
            }

                .addEnter a:hover {
                    color: white;
                }

        .flex-sellect-addnew {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }


        .labelstyle {
            font-weight: 600;
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        .addlogoclass {
            font-size: 15px;
        }

        .image-uploaddd > input {
            display: none;
        }

        .image-uploaddd svg {
            cursor: pointer;
        }

        .logosvgicon {
            fill: #9d9d9d;
        }

        .addhoverinput:focus {
            border: 2px solid #09985C;
        }

        .createbuttonn {
            background: #09985C;
            color: white;
            width: 8%;
        }

            .createbuttonn:hover {
                background: #008000;
                color: white;
                width: 8%;
            }

        .imagesinfoo {
            display: inline-block;
        }

        .labelstyle span {
            color: #9d9d9d;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Admin/assets/vendors/core/core.js"></script>
    <script src="~/Admin/assets/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="~/Admin/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/Admin/assets/vendors/feather-icons/feather.min.js"></script>
    @* <script src="~/admin/assets/js/template.js"></script> *@
    @* <script src="~/admin/assets/js/dashboard-light.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Admin/assets/js/search.js"></script>
</body>
</html>